body {
	
}

input[type=range]::AFTER {
	content: attr(max);
}
input[type=range]::BEFORE {
	content: attr(min);
}
input[type=range]{
width: 250px; color: blue; font-family: 'Segoe UI'; font-size: small;	
}

#dataform
{
	float:left;
	padding: 15px;
	border: 1px solid #CCCCCC	

}

#data
{
	float:left;
	width: 400px;
	margin-left: 10px;
	padding: 15px;
	border: 1px solid #CCCCCC;
}

#data > div
{
	padding: 5px;
	border: 1px solid #CCCCCC;
}

#key #text
{
	width: 200px;
}